.write{
    padding-top: 50px;
}
.write img{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: grey;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: rgb(223 181 165);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 90px;
}